body {background: #f1f1f1; font-family:"PingFang SC","微软雅黑","Arial","宋体"; color: #836426; font-size: 14px; min-width:1200px;}
body,div,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,th,td {margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,textarea,select {margin:0; font-size:100%; font-family:"΢���ź�","Arial","����";}
ul,li,ol {list-style-type: none;}
a{text-decoration: none;}
img {border:0;}
input,textarea,select  {outline: none;}
.flex-box-between {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-box-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-con {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.flex-box{
  display: flex;
  align-items: center;
}
.font-bold{
  font-weight: bold;
}
.flex-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.common-color{
    color: #836426;
}
.fs12{
    font-size: 12px;
}
/*  */
.contentMain {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
  }
  .contentMainDIv{width:100%;height:100%;background:#fff;}
  .ewmShare{height:100%;}
  .ewmShare>div{height:100%;display:flex;justify-content: flex-end;align-items: flex-end;}